/* HEADER - Modified column and logo text*/
.header {
	grid-template-columns: 35ch auto;
}

/* HERO */
.hero {
	align-content: flex-start;
}

.hero__caption {
	align-items: flex-start;
	flex-direction: column;
	color: white
}

/* SECTION */
.section {
	margin: 1.75rem 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section__title {
    font-size: 2.5rem;
    padding: 0 0;
}

/* MEDIA */
@media only screen and (max-width: 1024px) {
	.post__body {
		margin: 0 10%;
	}
	.section {
		margin: 2.75rem 10%;
	}
}

@media only screen and (max-width: 768px) {
	.section {
		margin: 2.75rem 5%;
	}
	.section {
		margin: 2.75rem 5%;
	}
}

@media only screen and (max-width: 567px) {
	.post__body {
		margin: 0 5%;
	}
	.section {
		margin: 2.75rem 5%;
	}
}
@media only screen and (max-width: 340px) {
	.post__body {
		margin: 0 5%;
	}
	.section {
		margin: 2.75rem 5%;
	}
}

/* POST */

.post__body {
	margin: 1.75rem 10% 0.75rem;
}